/* null margins and padding to give good cross-browser baseline */
html, body, address, blockquote, div,
form, fieldset, caption,
h1, h2, h3, h4, h5, h6,
hr, ul, li, ol, ul,
table, tr, td, th, p, img {
  margin: 0;
  padding: 0; }

nav ul {
  /*removes the dot from the left of ul; sometimes it may not style so use it on specific selector */ }

ul {
  list-style: none;
  /*removes disc dot from ul; thought nav ul removes most, some require the ul */ }

html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

/*Clearfix hack keeps columns(or element) inside the row(or div) and away from floating to other rows */
.ft-right {
  float: right; }

button {
  background-color: #ccc; }

.nav {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #9383C6; }

.logo {
  border: 1px #e6e6e6 solid;
  height: 60px;
  width: 100px;
  float: left;
  background-image: url(http://placehold.it/100x60);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.4s ease; }

#logo.shrink-logo {
  height: 40px; }

.logoHide {
  display: none; }

ul {
  float: left; }

li {
  float: left; }
  @media (max-width: 524px) {
    li {
      float: left; } }
  li:last-child {
    border-right: none; }
  li a {
    display: block;
    padding: 20px 15px;
    float: left;
    text-decoration: none;
    color: #fff;
    transition: all 0.4s ease; }
    @media (max-width: 768px) {
      li a {
        float: none;
        text-align: center; } }

/* //*Resize */
/*optional to control nav instead of li a */
/*the resize transition */
/*the resize height change */
#nav.shrink-nav a {
  padding: 10px 15px;
  font-size: 1em; }

/* //*Resize END */
/*sticky nav */
.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%; }

.fixed-nav-mar {
  margin-top: 85px; }

.fixed-nav-pad {
  padding-top: 10px !important; }

@media screen and (max-width: 768px) {
  #menu {
    display: block;
    font-size: 3em;
    text-align: right;
    color: #fff; }

  #nav.js {
    display: none; }

  ul {
    width: 100%;
    list-style: none; }
    ul:first-child {
      margin-top: 20px; }

  /*this pseudo selector adds a border on the first li element */
  li {
    width: 100%;
    border-right: none; }
    li:first-child {
      border-top: 2px solid black; } }
@media screen and (min-width: 769px) {
  #menu {
    display: none; } }
.col-minimum, .mob-1, .mob-2, .mob-3, .mob-4, .mob-5, .mob-6, .mob-7, .mob-8, .mob-9, .mob-10, .mob-11, .mob-12 {
  float: left; }

.col {
  min-height: 1px;
  padding: 0 12px; }

.section {
  margin-right: auto;
  margin-left: auto;
  padding: 0 15px; }
  @media (min-width: 960px) {
    .section {
      width: 80%; } }
  @media (max-width: 959px) {
    .section {
      width: 90%; } }
  @media (max-width: 524px) {
    .section {
      width: 100%; } }

.row:before, .row:after {
  content: "";
  display: table; }
.row:after {
  clear: both; }

.mob-1 {
  width: 8.33333%; }

@media screen and (min-width: 525px) {
  .smtab-1 {
    width: 8.33333%;
    float: left; } }

@media screen and (min-width: 768px) {
  .tab-1 {
    width: 8.33333%;
    float: left; } }

@media screen and (min-width: 960px) {
  .lap-1 {
    width: 8.33333%;
    float: left; } }

.mob-2 {
  width: 16.66667%; }

@media screen and (min-width: 525px) {
  .smtab-2 {
    width: 16.66667%;
    float: left; } }

@media screen and (min-width: 768px) {
  .tab-2 {
    width: 16.66667%;
    float: left; } }

@media screen and (min-width: 960px) {
  .lap-2 {
    width: 16.66667%;
    float: left; } }

.mob-3 {
  width: 25%; }

@media screen and (min-width: 525px) {
  .smtab-3 {
    width: 25%;
    float: left; } }

@media screen and (min-width: 768px) {
  .tab-3 {
    width: 25%;
    float: left; } }

@media screen and (min-width: 960px) {
  .lap-3 {
    width: 25%;
    float: left; } }

.mob-4 {
  width: 33.33333%; }

@media screen and (min-width: 525px) {
  .smtab-4 {
    width: 33.33333%;
    float: left; } }

@media screen and (min-width: 768px) {
  .tab-4 {
    width: 33.33333%;
    float: left; } }

@media screen and (min-width: 960px) {
  .lap-4 {
    width: 33.33333%;
    float: left; } }

.mob-5 {
  width: 41.66667%; }

@media screen and (min-width: 525px) {
  .smtab-5 {
    width: 41.66667%;
    float: left; } }

@media screen and (min-width: 768px) {
  .tab-5 {
    width: 41.66667%;
    float: left; } }

@media screen and (min-width: 960px) {
  .lap-5 {
    width: 41.66667%;
    float: left; } }

.mob-6 {
  width: 50%; }

@media screen and (min-width: 525px) {
  .smtab-6 {
    width: 50%;
    float: left; } }

@media screen and (min-width: 768px) {
  .tab-6 {
    width: 50%;
    float: left; } }

@media screen and (min-width: 960px) {
  .lap-6 {
    width: 50%;
    float: left; } }

.mob-7 {
  width: 58.33333%; }

@media screen and (min-width: 525px) {
  .smtab-7 {
    width: 58.33333%;
    float: left; } }

@media screen and (min-width: 768px) {
  .tab-7 {
    width: 58.33333%;
    float: left; } }

@media screen and (min-width: 960px) {
  .lap-7 {
    width: 58.33333%;
    float: left; } }

.mob-8 {
  width: 66.66667%; }

@media screen and (min-width: 525px) {
  .smtab-8 {
    width: 66.66667%;
    float: left; } }

@media screen and (min-width: 768px) {
  .tab-8 {
    width: 66.66667%;
    float: left; } }

@media screen and (min-width: 960px) {
  .lap-8 {
    width: 66.66667%;
    float: left; } }

.mob-9 {
  width: 75%; }

@media screen and (min-width: 525px) {
  .smtab-9 {
    width: 75%;
    float: left; } }

@media screen and (min-width: 768px) {
  .tab-9 {
    width: 75%;
    float: left; } }

@media screen and (min-width: 960px) {
  .lap-9 {
    width: 75%;
    float: left; } }

.mob-10 {
  width: 83.33333%; }

@media screen and (min-width: 525px) {
  .smtab-10 {
    width: 83.33333%;
    float: left; } }

@media screen and (min-width: 768px) {
  .tab-10 {
    width: 83.33333%;
    float: left; } }

@media screen and (min-width: 960px) {
  .lap-10 {
    width: 83.33333%;
    float: left; } }

.mob-11 {
  width: 91.66667%; }

@media screen and (min-width: 525px) {
  .smtab-11 {
    width: 91.66667%;
    float: left; } }

@media screen and (min-width: 768px) {
  .tab-11 {
    width: 91.66667%;
    float: left; } }

@media screen and (min-width: 960px) {
  .lap-11 {
    width: 91.66667%;
    float: left; } }

.mob-12 {
  width: 100%; }

/*# sourceMappingURL=main.css.map */
