html
  head
    block title
      title Mangree
    block meta
      meta(charset='UTF-8')
      meta(name='author', content='ariel')
      meta(name='viewport', content='width=device-width, initial-scale=1.0')
      block description
        meta(name='description', content='Testing my brand new dev workflow set-up')
    block link
      link(type='stylesheets', href='https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/themes/prism.min.css')
      link(rel='stylesheet', type='text/css', href='../../css/prism.css')
      link(rel='stylesheet', type='text/css', href='../../css/main.css')
      link(rel='stylesheet', type='text/css', href='../../css/index.css')
  body
    block nav
    block content
