//scripts and copyright info
script(src='https://code.jquery.com/jquery-3.1.1.min.js')
// load requireJS after JQuery to avoid getting an error
//script(src='../../bower_components/requirejs/require.js' data-main='../../src/js/require.config.js')
// build:js js/mangree.min.js
script(src='./js/modernizr.js')
script(src='./js/prism.js')
script(src='./js/mangree.js')
// endbuild