//head tag and metatags

block title
  title Mangree
block meta
  meta(charset='UTF-8')
  block author-description
    meta(name='author', content='ariel')
  block meta-description
    meta(name='description', content='Testing my brand new dev workflow set-up')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
block link
  script(src='./js/modernizr.js')
  link(type='stylesheets', href='https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/themes/prism.min.css')
  link(rel='stylesheet', type='text/css', href='./css/mangree.css')
  //link(rel='stylesheet', type='text/css', href='./css/index.css')
block link-extra