// Fixed navigation
nav.nav.fixed-nav-bar.shrink.clr-change
  .section
    a(href='http://placehold.it')
      .logo.shrink
    nav#nav
      ul
        li
          a(href='#') Home
        li
          a(href='#code') About
        li
          a(href='#') Contact
      ul.ft-right
        li
          a(href='#') Log In
        li
          a(href='#') Log Out
  // end section
// end nav
// div to add margin-top
#top.fixed-nav-mar
