// Fixed navigation
nav.nav.fixed-nav-bar.shrink.nav-clr-change
  .section
    a(href='http://placehold.it')
      .logo.shrink
    nav#nav
      ul
        li
          a(class='link-clr-change' href='#') Home
        li
          a(class='link-clr-change' href='#code') About
        li
          a(class='link-clr-change' href='#') Contact
      ul.ft-right
        li
          a(class='link-clr-change' href='#') Log In
        li
          a(class='link-clr-change' href='#') Log Out
  // end section
// end nav
// div to add margin-top
#top.fixed-nav-mar
