.nav
  #top.section
    .row
      a(href='http://placehold.it')
        .logo.logo-h-mob
      nav#nav
        ul
          li
            a(href='#') Home
          li
            a(href='#code') About
          li
            a(href='#') Contact
        ul.ft-right
          li
            a(href='#') Log In
          li
            a(href='#') Log Out
    // end row
  // end section
// end nav
