doctype html
html(lang='en')
  head
    title Mangree-Fixed Nav
    meta(charset='UTF-8')
    meta(name='author', content='ariel')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='Fixed nav template')
    link(type='stylesheets', href='https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/themes/prism.min.css')
    link(rel='stylesheet', type='text/css', href='../../css/prism.css')
    link(rel='stylesheet', type='text/css', href='../../css/main.css')
    link(rel='stylesheet', type='text/css', href='../../css/index.css')
  body
    nav.nav.fixed-nav-bar.shrink.clr-change
      .section
        a(href='http://placehold.it')
          #logo.logo
        nav#nav
          ul
            li
              a(href='#') Home
            li
              a(href='#code') About
            li
              a(href='#') Contact
          ul.ft-right
            li
              a(href='#') Log In
            li
              a(href='#') Log Out
    #top.fixed-nav-mar.sc-color
    .section.fixed-nav-pad.sc-color
      p
        small
          | Use your browser developer tools to see the grid respond to different screen sizes.
      .row.rw-color
        .col.smtab-12.tab-12.lap-12.col-cl-12 row has margin:auto to left/right and has 80% width.
        .col.smtab-11.tab-11.lap-11.col-cl-11 col-11-lap
        .col.smtab-1.tab-1.lap-1.col-cl-1 col-1
      .row.rw-color
        .col.lap-8.col-cl-8 col-8-laptop
        .col.lap-4.col-cl-4 col-4-lap
        .col.lap-7.col-cl-7 col-7-lap
        .col.lap-5.col-cl-5 col-5-lap
        .col.smtab-6.tab-6.lap-6.col-cl-6 col-6-mob col-6-tab col-6-laptop
        .col.smtab-6.tab-6.lap-6.col-cl-6 col-6-mob col-6-tab col-6-laptop
      .row.rw-color
        .col.lap-5.col-cl-5 col-5-lap
        .col.lap-7.col-cl-7 col-7-lap
        .col.mob-4.lap-4.col-cl-4 col-4-lap
        .col.mob-4.lap-4.col-cl-4 col-4-lap
        .col.mob-4.lap-4.col-cl-4 col-4-lap
      // row end
    // end section
    .section
      p
        | To make your navigation bar fixed to the top add class
        code .fixed-nav-bar
        |  and to make make it shrink as you scroll use id
        code #nav
        |  to the
        code <nav>
        | tag.
        pre.
          <code id="code" class="language-markup">&lt;!--Fixed navigation--&gt;
            &lt;nav class=&quot;nav fixed-nav-bar&quot;&gt;
            &lt;div class=&quot;section&quot;&gt;
                &lt;a href=&quot;http://placehold.it&quot;&gt;
                    &lt;div id=&quot;logo&quot; class=&quot;logo&quot;&gt;&lt;/div&gt;
                &lt;/a&gt;
                &lt;nav id=&quot;nav&quot;&gt;
                    &lt;ul&gt;
                        &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Home&lt;/a&gt;&lt;/li&gt;
                        &lt;li&gt;&lt;a href=&quot;#code&quot;&gt;About&lt;/a&gt;&lt;/li&gt;
                        &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Contact&lt;/a&gt;&lt;/li&gt;

                    &lt;/ul&gt;
                    &lt;ul class=&quot;ft-right&quot;&gt;
                        &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Log In&lt;/a&gt;&lt;/li&gt;
                        &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Log Out&lt;/a&gt;&lt;/li&gt;
                    &lt;/ul&gt;
                &lt;/nav&gt;
            &lt;/div&gt;
            &lt;/nav&gt;
            &lt;!--div to add margin-top--&gt;
            &lt;div id=&quot;top&quot; class=&quot;fixed-nav-mar&quot;&gt;&lt;/div&gt;
            &lt;!--first section needs padding for top--&gt;
            &lt;div class=&quot;section fixed-nav-pad&quot;&gt;&lt;/div&gt;
          </code>
        p
          | To change the color of the nav as you scroll use the class
          code .clr-change
          |  and then to change the color changed to use class
          code .nav-color
          |  inside your custom css file.
        pre.
          <code id="code" class="language-markup">
            &lt;nav class=&quot;nav fixed-nav-bar clr-change&quot;&gt;
          </code>
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    p down
    a(href='#top') Back to Top
    include template_base/_temp_footer.pug
