extends base/_basic.pug

block title
  title Grid
block description
  meta(name='description', content='Testing my grid')
block link
  link(type='stylesheets', href='https://cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/themes/prism.min.css')
  link(rel='stylesheet', type='text/css', href='../../css/prism.css')
  link(rel='stylesheet', type='text/css', href='../../css/main.css')
  link(rel='stylesheet', type='text/css', href='../../css/index.css')
block nav
  include layout/_fixed_nav.pug
