extends base/_basic.pug

block title
  title Mangree-Grid
block meta-description
  meta(name='description', content='Testing my grid')
    
block nav
  include components/_fixed_nav.pug
block content
  // first section needs padding for top
  .section.fixed-nav-pad.sc-color
    p
      small Use your browser developer tools to see the grid respond to different screen sizes.
      include components/_grid.pug

    .row  
      .col-smtab-12
        pre.
          <code class="language-markup">
            &lt;li&gt;&lt;a class=&quot;link-clr-change&quot; href=&quot;#&quot;&gt;Home&lt;/a&gt;&lt;/li&gt;
          </code>
