extends base/_basic.pug

block title
  title Mangree-Grid
block description
  meta(name='description', content='Testing my grid')
    
block nav
  include components/_fixed_nav.pug
block content
  // first section needs padding for top
  .section.fixed-nav-pad.sc-color
    p
      small Use your browser developer tools to see the grid respond to different screen sizes.
      include components/_grid.pug
