doctype html
html
  head
    include base/_head.pug

  body

    // Fixed navigation
    nav.nav.fixed-nav-bar.shrink.clr-change
      .section
        a(href='http://placehold.it')
          .logo.shrink
        nav#nav
          ul
            li
              a(href='#') Home
            li
              a(href='#code') About
            li
              a(href='#') Contact
          ul.ft-right
            li
              a(href='#') Log In
            li
              a(href='#') Log Out
      // end section
    // end nav
    // div to add margin-top
    #top.fixed-nav-mar
    // first section needs padding for top
    .section.fixed-nav-pad.sc-color
      p
        small Use your browser developer tools to see the grid respond to different screen sizes.
      .row.rw-color
        .col.smtab-12.tab-12.lap-12.col-cl-12 row has margin:auto to left/right and has 80% width.
        .col.smtab-11.tab-11.lap-11.col-cl-11 col-11-lap
        .col.smtab-1.tab-1.lap-1.col-cl-1 col-1
      .row.rw-color
        .col.lap-8.col-cl-8 col-8-laptop
        .col.lap-4.col-cl-4 col-4-lap
        .col.lap-7.col-cl-7 col-7-lap
        .col.lap-5.col-cl-5 col-5-lap
        .col.smtab-6.tab-6.lap-6.col-cl-6 col-6-mob col-6-tab col-6-laptop
        .col.smtab-6.tab-6.lap-6.col-cl-6 col-6-mob col-6-tab col-6-laptop
      .row.rw-color
        .col.lap-5.col-cl-5 col-5-lap
        .col.lap-7.col-cl-7 col-7-lap
        .col.mob-4.lap-4.col-cl-4 col-4-lap
        .col.mob-4.lap-4.col-cl-4 col-4-lap
        .col.mob-4.lap-4.col-cl-4 col-4-lap
      // row end
      .row.rw-color
        .col.tab-3.lap-3.col-cl-3 col-3-tab col-3-laptop
        .col.tab-3.lap-3.col-cl-3 col-3-tab col-3-laptop
        .col.lap-3.col-cl-3 col-3-laptop
        .col.lap-3.col-cl-3 col-3-laptop
      // row end
      .row.rw-color
        .col.smtab-2.tab-2.lap-2.col-cl-2 col-2
        .col.smtab-2.tab-2.lap-2.col-cl-2 col-2
        .col.smtab-2.tab-2.lap-2.col-cl-2 col-2
        .col.smtab-2.tab-2.lap-2.col-cl-2 col-2
        .col.smtab-2.tab-2.lap-2.col-cl-2 col-2
        .col.smtab-2.tab-2.lap-2.col-cl-2 col-2
      .row.rw-color
        .col.smtab-1.tab-1.lap-1.col-cl-1 col-1
        .col.smtab-1.tab-1.lap-1.col-cl-1 col-1
        .col.smtab-1.tab-1.lap-1.col-cl-1 col-1
        .col.smtab-1.tab-1.lap-1.col-cl-1 col-1
        .col.smtab-1.tab-1.lap-1.col-cl-1 col-1
        .col.smtab-1.tab-1.lap-1.col-cl-1 col-1
        .col.smtab-1.tab-1.lap-1.col-cl-1 col-1
        .col.smtab-1.tab-1.lap-1.col-cl-1 col-1
        .col.smtab-1.tab-1.lap-1.col-cl-1 col-1
        .col.smtab-1.tab-1.lap-1.col-cl-1 col-1
        .col.smtab-1.tab-1.lap-1.col-cl-1 col-1
        .col.smtab-1.tab-1.lap-1.col-cl-1 col-1
      // row end
      p This is a section.
    // section end
    .section.sc-color
      .row.rw-color
        .col.smtab-6.tab-6.lap-6.col-cl-6 col-6-mob col-6-tab col-6-laptop
        .col.smtab-6.tab-6.lap-6.col-cl-6 col-6-mob col-6-tab col-6-laptop
        .col.tab-6.lap-6.col-cl-6 col-6-laptop
      // row end
      .row.rw-color
        .col.tab-5.lap-5.col-cl-5 col-5-laptop
        .col.tab-7.lap-7.col-cl-7 col-7-laptop
        .col.smtab-12.tab-12.lap-12.col-cl-12 col-12-lap
      // row end
      p This is a section test.
    // section end
    .section
      .row
        h2
          | How to Use
          p Set up basic section, row and col
      // row end
      p This is a section test!.
    // section end
    .section
      .row
        h3 More Customizations
        p
          | Adding #-mob will make the column responsive for all screen sizes because it starts with mobile sizes.
          br
          |         If you want to make a custom column that acts like a #-mob but has your own dimensions. First add the .col class then customize this code. Each breakpoint represents a @media change.
        .col-12-lap
          pre.
          p
            | In your HTML add
            pre.
    p Welcome to Mangree
    button(type='button') Button

    .section
      .row
        .col.smtab-12
          p To begin using Mangree use the following html to setup grid containers
    pre.
      <code class="language-markup">
      &lt;div class=&quot;section&quot;&gt;
        &lt;div class=&quot;row&quot;&gt;
          &lt;div class=&quot;col smtab-12&quot;&gt;
            &lt;p&gt;ff&lt;/p&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;</code>

    br
    br
    br
    br
    br
    pre#code.
        <code class="language-javascript">$(window).resize(function() {
          if (window.innerWidth > 768) {
            $("#nav").removeAttr("style");
          }
          }); //END three-line nav</code>
    pre.
      <code>
         pre.
          code</code>
    .section.sc-color
      p
        small Use your browser developer tools to see the grid respond to different screen sizes.
      .row.rw-color
        .col.smtab-12.tab-12.lap-12.col-cl-12 row has margin:auto to left/right and has 80% width.
        .col.smtab-11.tab-11.lap-11.col-cl-11 col-11-lap
        .col.smtab-1.tab-1.lap-1.col-cl-1 col-1
      .row.rw-color
        .col.lap-8.col-cl-8 col-8-laptop
        .col.lap-4.col-cl-4 col-4-lap
        .col.lap-7.col-cl-7 col-7-lap
        .col.lap-5.col-cl-5 col-5-lap
        .col.smtab-6.tab-6.lap-6.col-cl-6 col-6-mob col-6-tab col-6-laptop
        .col.smtab-6.tab-6.lap-6.col-cl-6 col-6-mob col-6-tab col-6-laptop
    a(href='#top') Back to Top

    include base/_footer.pug
