doctype html
html
  head
    include base/_head.pug

  body
    include components/_fixed_nav.pug
    // first section needs padding for top
    .section.fixed-nav-pad.sc-color
      p
        small Use your browser developer tools to see the grid respond to different screen sizes.
      include components/_grid.pug
    .section
      .row
        h2
          | How to Use
          p Set up basic section, row and col
      // row end
      p This is a section test!.
    // section end
    .section
      .row
        h3 More Customizations
        p
          | Adding #-mob will make the column responsive for all screen sizes because it starts with mobile sizes.
          br
          |         If you want to make a custom column that acts like a #-mob but has your own dimensions. First add the .col class then customize this code. Each breakpoint represents a @media change.
        .col-12-lap
          pre.
          p
            | In your HTML add
            pre.
    p Welcome to Mangree
    button(type='button') Button

    .section
      .row
        .col.smtab-12
          p To begin using Mangree use the following html to setup grid containers
      .row
        pre.
          <code class="language-markup">
          &lt;div class=&quot;section&quot;&gt;
            &lt;div class=&quot;row&quot;&gt;
              &lt;div class=&quot;col smtab-12&quot;&gt;
                &lt;p&gt;ff&lt;/p&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;</code>

    br
    br
    br
    br
    br
    pre#code.
        <code class="language-javascript">$(window).resize(function() {
          if (window.innerWidth > 768) {
            $("#nav").removeAttr("style");
          }
          }); //END three-line nav</code>
    
    a(href='#top') Back to Top

    include base/_footer.pug
