extends base/_basic.pug

block title
  title Mangree-Syntax
block meta-description
  meta(name='description', content='Testing my syntax highlighting')

block nav
  include components/_nfixed_nav.pug
block content
  .section
    p This is syntax
